<div class="bg-teal-50 px-10">
  <h1 class="p-10 font-burtons text-3xl font-bold underline">Hello world!</h1>
  <div className="p-10"></div>
  <p>My name is varun</p>

  <!-- <app-leetcode-view
    [totalSolved]="totalSolved"
    [totalQuestions]="totalQuestions"
    [acceptanceRate]="acceptanceRate"
    [easySolved]="easySolved"
    [mediumSolved]="mediumSolved"
    [hardSolved]="hardSolved"
    [ranking]="ranking"
  ></app-leetcode-view> -->
  <!-- <app-projects-view></app-projects-view> -->
  <app-intro-component></app-intro-component>
</div>
